<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Modularity Testing</title>
</head>
<body>
    @Html.Partial("_Navigation")
    <div>
        @RenderBody()
    </div>
</body>
</html>
