<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Parent Application</title>
</head>
<body>
    <h1>Please select an active module.</h1>
</body>
</html>